<div class="Opening_Hours">
    <div class="OPning_Text_Stack">
        <div class="Opening_Text">
            <h3 class="Opening">
                Opening hours
            </h3>
        </div>
    </div>
    <div class="Pricing_list">
        <div class="Pricing_list_Content">
            <div class="Chips_group">
                <div class="Chip_Filter1">
                    
                        <div class="Chip_Filter1_Label">
                            <p class="Chip_Filter_text1">Restaurant</p>
                        </div>
                    
                </div>
                <div class="Chip_Filter2">
                    
                        <div class="Chip_Filter1_Label">
                            <h2 class="Chip_Filter_text">Takeaway</h2>
                        </div>
                    
                </div>
                <div class="Chip_Filter2">
                    
                        <div class="Chip_Filter1_Label">
                            <h2 class="Chip_Filter_text">Buffet</h2>
                        </div>
                   
                </div>
                <div class="Chip_Filter2" style="width:200px">
                   
                        <div class="Chip_Filter1_Label" style="width:200px" >
                        <h2 class="Chip_Filter_text" style="width:200px">Special Events</h2>
                        </div>
                </div>
            </div>
        </div>


        <div class="Pricing_list_Repeat">
            <div class="Order_price_item">
                <div class="Order_price_Text">
                    Monday - Thursday
                </div>
                <div class="Price_block">
                    07:00 - 22:00
                </div>
            </div>
            <div class="Order_price_item">
                <div class="Order_price_Text">
                    Friday
                </div>
                <div class="Price_block">
                    07:00 - 22:00
                </div>
            </div>
            <div class="Order_price_item">
                <div class="Order_price_Text">
                    Saturday
                </div>
                <div class="Price_block">
                    07:00 - 22:00
                </div>
            </div>
            <div class="Order_price_item">
                <div class="Order_price_Text">
                   Sunday
                </div>
                <div class="Price_block">
                    07:00 - 22:00
                </div>
            </div>
            <div class="Order_price_item">
                <div class="Order_price_Text">
                    Holidays
                </div>
                <div class="Price_block">
                    Closed
                </div>
            </div>
        </div>
    </div>
</div>