<div class="VenuesInformation">
    <div class="VenuesContainer">
        <div class="HeaderMain">
            <div class="HeaderSec">
                <div class="title">
                    <div class="Frame25">
                        <div class="TextStack">
                                <h2 class="branch-name">Aalborg</h2>
                        </div>
                    </div>
                    <div class="Neutral_Button_Icon">
                        <div class="Neutral_Button">
                                    <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Info">
                <div class="Address">
                    <div class="Center">
                        <div class="Status">
                            <div class="Status indicator">
                                @* <i class="fa-solid fa-circle-notch circle"></i> *@
                            </div>
                            <div class="Status_Label">
                                <div class="Status_Label_Title">
                                    <p class="Title_open">Open</p>
                                </div>
                                @* <div class="Status_Label_Description">

                                </div> *@
                            </div>
                        </div>
                        <div class="Label1"></div>
                        <div class="Label2">
                            <div class="Label2_title ">
                                <p class="PCOntent">Østerågade 27, 9000 ‧ Aalborg</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Info_Buttons">
                    <div class="Info_Button1">
                                <p class="Number"> <i class="fa-solid fa-mobile-screen"></i> +45 11 22 33 44</p>       
                    </div>
                    <div class="Info_Button2">
                        <div class="Info_Button1_Content_Label2">
                            <i class="fa-solid fa-at"></i>
                            <p class="Gmail"> aalborg@flexybox.com</p>
                        </div>
                    </div>
                    @* <div class="Info_Button3">
                        <div class="Info_Button3_Content">
                            <div class="Leading_visuals3">
                                <i class="fa-regular fa-headphones"></i>
                            </div>
                            
                        </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>

