body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display:flex;
    align-content:center;
    justify-content:center;
    margin-top:10px;
}

.Maincontainer {
    width: 448px;
    background: white;
    height: 607px;
    padding: 0px 6px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    overflow-x: hidden;
    max-width: 100%; 
    box-sizing: border-box;
}

.VenuesInformation {
    width: 448px;
    height: 108px;
    opacity: 1;
    padding: 16px 0;
    gap: 16px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.VenuesContainer {
    width: 416px;
    height: 108px;
    opacity: 1;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.HeaderMain {
    width: 416px;
    height: 40px;
    justify-content: space-between;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.HeaderSec {
    width: 416px;
    height: 60px;
    opacity: 1;
    gap: 12px;
    display: flex;
    flex-direction: row;
}

.title {
    width: 416px;
    height: 40px;
    justify-content: space-between;
    opacity: 1;
    display: flex;
    flex-direction: row;
}

.Frame25 {
    width: 95px;
    height: 28px;
    opacity: 1;
    gap: 8px;
    display: flex;
    flex-direction: row;
}

.TextStack {
    width: 95px;
    height: 28px;
    opacity: 1;
}


.branch-name {
    font-family: Nunito;
    font-weight: 900;
    color: #000000;
margin:5px 0px 0 0;
}

.DescriptionText {
    font-family: Global/Font family/secondary type;
    font-weight: 400;
    vertical-align: middle;
}


.Neutral_Button_Icon {
    width: 40px;
    height: 40px;
    opacity: 1;
    display: flex;
    flex-direction: row;
}

.Neutral_Button {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    opacity: 1;
    display: flex;
    flex-direction: row;
    background: #CCCCCC33;
    align-items:center;
    justify-content:center;
}

.Info {
    width: 416px;
    height: 60px;
    opacity: 1;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.Address {
    width: 416px;
    height: 16px;
    opacity: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin:0;
    padding:10px 0 0 0;
}

.Center {
    width: 416px;
    height: 16px;
    opacity: 1;
    gap: 4px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.Status {
    width: 47px;
    height: 16px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.Label1 {
    width: 11px;
    height: 16px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.Label2 {
    width: 350px;
    height: 16px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


.Status_indicator {
    width: 10px;
    height: 16px;
    opacity: 1;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    gap: 8px;
    display: flex;
    flex-direction: row;
}


.Status_Label {
    width: 37px;
    height: 16px;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.circle {
    width: 4px;
    height: 4px;
    opacity: 1;
    background: #7CDB6B;
}

.Status_Label_Title {
    width: 37px;
    height: 16px;
    opacity: 1;
    gap: 8px;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
}

.Title_open {
    font-family: Nunito Sans;
    font-weight: 700;
    vertical-align: middle;
    color: #7CDB6B;
    margin: 0;
    padding: 0;
}

.Status_Label_Description {
    width: 96px;
    height: 20px;
    opacity: 1;
    display: flex;
    flex-direction: row;
}

.Label2_title {
    width: 501px;
    height: 16px;
    opacity: 1;
    gap: 8px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.PCOntent {
    font-family: Nunito Sans;
    font-weight: 400;
    vertical-align: middle;
    color: #00000099;
    margin: 0;
    padding: 0;
}

.Info_Buttons {
    width: 416px;
    height: 32px;
    opacity: 1;
    gap: 8px;
    display: flex;
    flex-direction: row;
}

.Info_Button1 {
    background: #D6EAD833;
    background-blend-mode: multiply;
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 32px;
    padding: 0px 0 0 25px;
    border-radius: 6px;
}


.Info_Button2 {
    background: #D6EAD833;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 12px 0 3px;
    border-radius: 6px;
    height: 32px;
    width: 200px;
}

.fa-mobile-screen
{
    color: #7CDB6B;
}

.fa-at {
    color: #7CDB6B;
}

.Number {
    font-family: Nunito Sans;
    font-weight: 400;
    width: 140px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #00000099;
    margin: 0;
    padding: 0;
}

.Gmail {
    font-family: Nunito Sans;
    font-weight: 400;
    width: 180px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #00000099;
    margin: 0;
    padding: 0;
}



.Info_Button1_Content_Label2 {
    width: 154px;
    height: 16px;
    display: flex;
    flex-direction: row;
    opacity: 1;
    gap: 8px;
}

.Info_Button3 {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: row;
    opacity: 1;
}

.Info_Button3_Content {
    width: 16px;
    height: 32px;
    min-height: 32px;
    opacity: 1;
    gap: 4px;
    display: flex;
    flex-direction: row;
}




.media_carousel {
    width: 448px;
    height: 227px;
    opacity: 1;
    background: #FFFFFF;
    gap: 16px;
    padding: 16px 7px;
    display: flex;
    flex-direction: row;
}

.Media {
    width: 346px;
    height: 195px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    background-image: url('/images/main_pic.jpg');
    background-size: cover;
    background-position: center;
    transform: rotate(0);
    border-radius: 10px;
    flex-shrink: 0;
}

.Aspect_Ratio {
    width: 156px;
    height: 195px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    background-image: url('/images/2nd_pic.jpg');
    background-size: cover;
    background-position: center;
    transform: rotate(0);
    border-radius: 2%;
}

.Spacer_Devider {
    width: 448px;
    height: 4px;
    opacity: 1;
    gap: 8px;
    background: #CCCCCC33;
}

.Opening_Hours {
    width: 448px;
    height: 232px;
    opacity: 1;
    gap: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.OPning_Text_Stack {
    width: 416px;
    height: 24px;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.Opening_Text {
    width: 350px;
    height: 24px;
    opacity: 1;
    gap: 8px;
    display: flex;
    flex-direction: row;
}

.Opening {
    font-family: Nunito;
       font-weight: 500;
    vertical-align: middle;
    color: #000000;
    margin: 0;
    padding: 0;
}

.Pricing_list {
    width: 416px;
    height: 168px;
    opacity: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.Pricing_list_Content {
    width: 416px;
    height: 48px;
    opacity: 1;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.Chips_group {
    width: 416px;
    height: 32px;
    opacity: 1;
    gap: 8px;
    display: flex;
    flex-direction: row;
}

.Chip_Filter1 {
    width: auto;
    min-width: 100px;
    height: 36px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    border-radius: 16px;
    opacity: 1;
}

.Chip_Filter2 {
    width: auto;
    height: 36px;
/*    padding: 0 12px;*/
    display: flex;
    align-items: center;
    justify-content: center;
/*    background: #ffffff;*/
    background: #D6EAD833;
    background-blend-mode: multiply;
    border-radius: 16px;
    opacity: 1;
}

.Chip_Filter1_Content {
    width: 100px;
    height: 32px;
    min-height: 32px;
    opacity: 1;
    gap: 4px;
}

.Chip_Filter1_Label {
    width: 85px;
    height: 16px;
    opacity: 1;
    padding-right: 2px;
    padding-left: 2px;
    gap: 8px;
   display:flex;
   align-items:center;
   justify-content:center;
}

.Chip_Filter_text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    margin: 0; 
    text-align: center;
}

.Chip_Filter_text1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin: 0;
    text-align: center;
}


.Pricing_list_Repeat {
    width: 416px;
    height: 116px;
    opacity: 1;
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.Order_price_item {
    width: 416px;
    height: 20px;
    opacity: 1;
    display: flex;
    flex-direction: row;
}


.Order_price_Text {
    width: 322px;
    height: 16px;
    opacity: 1;
    gap: 8px;
    color: #00000099;
    font-family: Nunito Sans;
    font-weight: 400;
    vertical-align: middle;
}

.Price_block {
    width: 94px;
    height: 16px;
    opacity: 1;
    gap: 2px;
    color: #000000;
    font-weight: 400;
    vertical-align: middle;
}
@media (max-width: 420px) {
    .mobile-container {
        width: 100%;
        border: none;
        border-radius: 0;
    }
}
